body {
    margin: 0;
}
    /* banner > button */

    .banner-container {
        display: flex;
        align-items: center;
        border: none;
        background-color: white;
        background-size: cover;
        width: 100%;
        height: 5vh;
    }

    .banner-container>a {
        padding: 0 20px;
        font-size: 20px;
        text-decoration: none;
        color: black;
    }

    /* banner > sign in */

    .signin {
        width: 100%;
        display: flex;
        justify-content: flex-end;
    }

    .signin>a {
        padding: 0 20px;
        font-size: 20px;
        text-decoration: none;
        color: black;
    }

    /* 위에 메인 CSS */

    span {
        width: 200px;
        height: 200px;
        margin: 0;
    }
    

    .image {
        background-image: url(./img/리뷰\ 배경2.jpg);
        background-size: cover;
        width: 100%;
        height: 150vh;
        
    }
    p {
        margin: 0 auto;
        display: flex;
        justify-content: center;
    }
    .banner-travel{
        color: white;
        font-weight: bold;
        font-size: 40px; 
        width: 50%;
        max-width: 300px;
        padding: 15px;
    }
    .Review-container {
        /* background-color: blue; */
        background-color: rgba(200, 255, 255, 0.6);
        padding: 20px;
        margin: 0 auto;
        margin-top: 100px;
        width: 800px;
        display: flex;
        justify-content: center;
        border: 1px solid black;
    }
    .review {
        display: inline;
    }
    .review1 {
        font-size: 15px;
        font-weight: bold;
        margin: 0 auto;
        padding: 0px;
        display: inline-block;
        margin-left: 0px;
    }

    .area {
        font-size: 20px;
        border: 1px solid black;
    }