
        /* 로그인 전체 영역박스 */
        .login-container {
            background-color: #fff;
            box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
            border-radius: 5px;
            width: 480px;
            height: 80vh;
            margin: 0 auto;
            padding: 25px;
        }

        a {
            text-decoration: none;
        }

        /* 로그인 머릿글 */
        .login-main {
            float: left;
        }

        /* 로그인 선택(이메일&휴대전화) */
        .login-links {
            margin: 0px auto;
            text-align: center;
        }

        .login-email {
            width: 100%;
            text-align: center;

        }

        .login-email:hover {
            font-weight: bold;
            color: dodgerblue;
        }

        .login-phone {
            width: 100%;
            text-align: center;
            padding-left: 100px;
        }

        .login-phone:hover {
            font-weight: bold;
            color: dodgerblue;
        }


        /* 이메일, 비밀번호 input박스 */
        .login-box {
            margin-bottom: 25px;
        }

        .login-box input {
            margin-top: 15px;
            display: block;
            border-radius: 5px;
            width: 475px;
            height: 35px;
        }

        /* 로그인 버튼 */
        .login-button {
            border-color: dodgerblue;
            border-radius: 10px;
            width: 475px;
            height: 60px;
            margin-top: 15px;
            margin-bottom: 30px;
            background-color: dodgerblue;
            color: #fff;
        }

        .login-button:hover {
            border-color: lightblue;
            background-color: lightblue;
            color: #fff;
        }

        /* 회원가입링크 */
        .register {
            margin: 15px 0px;
        }

        /* footer 버튼 */
        .google-but {
            border-radius: 10px;
            width: 475px;
            height: 40px;
            margin-top: 15px;
            margin-bottom: 15px;
            background-color: #fff;
            color: black;
        }

        .facebook-but,
        .apple-but {
            border-radius: 10px;
            width: 235px;
            height: 40px;
            margin-bottom: 15px;
            background-color: #fff;
            color: black;
        }

        .but:hover {
            border: 3px solid lightblue;
            box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.5);
            font-weight: bold;
        }